src/Resources/n8n-workflows/hero-blocks-unified.json
{
    "nodes": [
        {
            "parameters": {
                "path": "hero-blocks",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "73dad773-bf4e-45f7-af58-ffc94a507ae6",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -208,
                704
            ],
            "webhookId": "hero-blocks-unified"
        },
        {
            "parameters": {
                "jsCode": "// WICHTIG: Route-Bestimmung basierend auf Query-Parameter (n8n Best Practice!)\n// Best Practices: Robust, sauber, eindeutige Logik gemäß n8n Dokumentation\n// n8n Webhook Path: hero-blocks (relativ zum Webhook-Base /webhook/)\n// Vollständiger Path: /webhook/hero-blocks?checkType=license oder /webhook/hero-blocks?checkType=update\n// Gemäß n8n Docs: Query-Parameter werden in query zurückgegeben\n\nlet checkType = null;\n\n// Step 1: Versuche Query-Parameter checkType (PRIMÄR - n8n Best Practice!)\n// n8n gibt Query-Parameter in $input.item.json.query zurück\nconst queryParams = $input.item.json.query || {};\nif (queryParams.checkType) {\n  checkType = String(queryParams.checkType).toLowerCase().trim();\n}\n\n// Step 2: Extrahiere aus webhookUrl (Fallback - falls Query-Parameter nicht verfügbar)\n// URL-Format: https://n8n.chooomedia.com/webhook/license/hero-blocks\n// oder: https://n8n.chooomedia.com/webhook/update/hero-blocks\n// ODER: https://n8n.chooomedia.com/webhook/hero-blocks?checkType=license\nif (!checkType && $input.item.json.webhookUrl) {\n  const url = String($input.item.json.webhookUrl);\n  // Matche: /webhook/license/hero-blocks oder /webhook/update/hero-blocks (altes Format)\n  const urlMatch = url.match(/\\/webhook\\/(license|update)\\/hero-blocks/i);\n  if (urlMatch && urlMatch[1]) {\n    checkType = urlMatch[1].toLowerCase().trim(); // license oder update\n  } else {\n    // Versuche Query-Parameter aus URL\n    const urlObj = new URL(url);\n    const checkTypeParam = urlObj.searchParams.get('checkType');\n    if (checkTypeParam) {\n      checkType = checkTypeParam.toLowerCase().trim();\n    }\n  }\n}\n\n// Step 3: Fallback: Versuche aus Request-URL zu extrahieren\nif (!checkType && $input.item.json.url) {\n  const url = String($input.item.json.url);\n  // Matche: /webhook/license/hero-blocks oder /webhook/update/hero-blocks\n  const urlMatch = url.match(/\\/(license|update)\\//i);\n  if (urlMatch && urlMatch[1]) {\n    checkType = urlMatch[1].toLowerCase().trim();\n  } else {\n    // Versuche Query-Parameter aus URL\n    try {\n      const urlObj = new URL(url);\n      const checkTypeParam = urlObj.searchParams.get('checkType');\n      if (checkTypeParam) {\n        checkType = checkTypeParam.toLowerCase().trim();\n      }\n    } catch (e) {\n      // URL parsing fehlgeschlagen - ignoriere\n    }\n  }\n}\n\n// Step 4: Default: license (für Backwards Compatibility)\nif (!checkType || (checkType !== 'license' && checkType !== 'update')) {\n  checkType = 'license';\n}\n\n// Return mit checkType und allen Query-Parametern\nreturn {\n  json: {\n    ...$input.item.json,\n    checkType: checkType,\n    // Query-Parameter explizit weitergeben (Best Practice)\n    plugin: queryParams.plugin || $input.item.json.plugin || 'hero-blocks',\n    version: queryParams.version || $input.item.json.version || '1.0.0',\n    shopwareVersion: queryParams.shopwareVersion || $input.item.json.shopwareVersion || '6.7.0',\n    timestamp: queryParams.timestamp || queryParams.checkDate || $input.item.json.timestamp || new Date().toISOString(),\n    currentVersion: queryParams.currentVersion || queryParams.version || \"1.0.0\"\n  }\n};"
            },
            "id": "67629b9a-c2ea-48e2-bf29-48aa4380fed4",
            "name": "Code (Determine Check Type)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -16,
                704
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "3f048ca4-29b8-4e18-866d-391fd6e15f40",
                            "leftValue": "={{ $json.checkType || $('Code (Determine Check Type)').item.json.checkType }}",
                            "rightValue": "license",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "1fdc9fae-8d67-4292-a6eb-7d5d86b01926",
            "name": "IF Check Type = License?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                176,
                704
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "expiresAt",
                            "value": "2027-12-31T00:00:00+00:00"
                        }
                    ],
                    "number": [
                        {
                            "name": "daysRemaining",
                            "value": "={{ Math.max(0, Math.ceil((DateTime.fromISO('2027-12-31T00:00:00+00:00').toMillis() - $now.toMillis()) / 86400000)) }}"
                        }
                    ],
                    "boolean": [
                        {
                            "name": "valid",
                            "value": "={{ $now <= DateTime.fromISO('2027-12-31T00:00:00+00:00') }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "7ad351bb-e130-41cb-8958-fcc1dd2eba12",
            "name": "Set (Compute License)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                512,
                960
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "8fbac636-c62c-49f1-8df4-e2eef67844f7",
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "a07fa9af-d87b-4fe4-be7b-d0f6cf0764a5",
            "name": "IF License Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                704,
                960
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { valid: true, expiresAt: $json.expiresAt, daysRemaining: $json.daysRemaining } }}",
                "options": {}
            },
            "id": "aecc1248-d974-4977-a697-ecebc64f6f86",
            "name": "Respond (License Valid)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1376,
                864
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { valid: false, expiresAt: $json.expiresAt, daysRemaining: $json.daysRemaining } }}",
                "options": {}
            },
            "id": "bb0d3396-20b5-4ac3-b233-4eb8c8c21e18",
            "name": "Respond (License Invalid)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1376,
                1024
            ]
        },
        {
            "parameters": {
                "operation": "getLatestRelease",
                "owner": "={{ $env.GITHUB_OWNER || 'chooomedia' }}",
                "repository": "={{ $env.GITHUB_REPO || 'hero-blocks' }}"
            },
            "id": "34dfea9d-86bc-4dac-af5b-ccfd52b6b95b",
            "name": "GitHub (Get Latest Release)",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                512,
                416
            ],
            "webhookId": "cf9d9063-fa8c-4f5b-bc57-956c0a7668b0",
            "credentials": {
                "githubApi": {
                    "id": "lrNvOKmSqXVhTpHk",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// WICHTIG: Verarbeite GitHub Releases API Response\n// Best Practices: Robust, sauber, eindeutige Logik mit Error-Handling\n// Gemäß GitHub API Dokumentation: Releases API gibt tag_name, assets, body zurück\n\n// 1. Lese GitHub API Response\nconst githubResponse = $input.item.json;\nconst currentVersion = $input.item.json.query?.currentVersion || $input.item.json.currentVersion || \"1.0.0\";\n\n// 2. Prüfe auf GitHub API Fehler (404, keine Releases, etc.)\nconst hasError = githubResponse.message || githubResponse.error || !githubResponse.tag_name;\n\nif (hasError) {\n  // GitHub API Fehler oder kein Release gefunden\n  // Gibt Default-Response zurück: latestVersion = currentVersion, available = false\n  return {\n    json: {\n      ...$input.item.json,\n      latestVersion: currentVersion,\n      downloadUrl: null,\n      changelog: null,\n      currentVersion: currentVersion,\n      githubTag: null,\n      githubPublishedAt: null,\n      githubError: githubResponse.message || githubResponse.error || \"No release found\",\n      hasError: true\n    }\n  };\n}\n\n// 3. Extrahiere Latest Version aus GitHub Tag\n// GitHub Tag Format: \"v1.1.0\" → \"1.1.0\"\nlet latestVersion = null;\nif (githubResponse.tag_name) {\n  latestVersion = githubResponse.tag_name.replace(/^v/, \"\"); // Remove \"v\" prefix\n}\n\n// 4. Finde .zip Asset für Download URL\n// WICHTIG: Shopware benötigt direkt zugängliche .zip URL (GitHub Releases)\n// Format: https://github.com/owner/repo/releases/download/tag/plugin-name.zip\nlet downloadUrl = null;\nif (githubResponse.assets && Array.isArray(githubResponse.assets)) {\n  // Suche nach .zip Asset (priorisiere hero-blocks-*.zip)\n  const zipAsset = githubResponse.assets.find(asset => {\n    const name = asset.name || \"\";\n    return name.endsWith('.zip') && (name.includes('hero-blocks') || name.includes('HeroBlocks'));\n  }) || githubResponse.assets.find(asset => \n    asset.name && asset.name.endsWith('.zip')\n  );\n  if (zipAsset && zipAsset.browser_download_url) {\n    downloadUrl = zipAsset.browser_download_url;\n  }\n}\n\n// Fallback: Generiere Download URL aus Release Tag (falls kein Asset vorhanden)\nif (!downloadUrl && githubResponse.tag_name && githubResponse.html_url) {\n  // GitHub Releases: /releases/tag/v1.0.0 → /releases/download/v1.0.0/hero-blocks.zip\n  const tagName = githubResponse.tag_name.replace(/^v/, \"\"); // Remove \"v\" prefix\n  downloadUrl = githubResponse.html_url.replace(/\\/tag\\//, \"/download/\") + \"/hero-blocks-\" + tagName + \".zip\";\n}\n\n// 5. Extrahiere Changelog aus Release Body\nconst changelog = githubResponse.body || githubResponse.body_text || null;\n\n// 6. Speichere GitHub Response Daten für Version-Vergleich\n// WICHTIG: Setze hasError Flag für explizites Error-Tracking\nreturn {\n  json: {\n    ...$input.item.json,\n    latestVersion: latestVersion || currentVersion,\n    downloadUrl: downloadUrl || null,\n    changelog: changelog || null,\n    currentVersion: currentVersion,\n    githubTag: githubResponse.tag_name || null,\n    githubPublishedAt: githubResponse.published_at || null,\n    hasError: false\n  }\n};"
            },
            "id": "48caa234-9e51-45fc-a87a-4f50fae5b948",
            "name": "Code (Process GitHub Response)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                416
            ]
        },
        {
            "parameters": {
                "jsCode": "// WICHTIG: Version-Vergleich für Update-Check\n// Best Practices: Semantic Versioning, robust, sauber mit Error-Handling\n// Harmoniert mit GitHub Releases API Response\n\n// 1. Lese aktuelle Version aus Query-Parametern\nconst currentVersion = $input.item.json.query?.currentVersion || $input.item.json.currentVersion || \"1.0.0\";\n\n// 2. Prüfe auf GitHub API Fehler\n// WICHTIG: hasError Flag wird bereits im Process GitHub Response Node gesetzt\nconst hasError = $input.item.json.hasError === true || $input.item.json.githubError || !$input.item.json.githubTag;\n\nif (hasError) {\n  // GitHub API Fehler oder kein Release gefunden\n  // Gibt Default-Response zurück: available = false, latestVersion = currentVersion\n  return {\n    json: {\n      ...$input.item.json,\n      available: false,\n      currentVersion: currentVersion,\n      latestVersion: currentVersion,\n      downloadUrl: null,\n      changelog: null\n    }\n  };\n}\n\n// 3. Lese neueste Version aus GitHub Response (bereits verarbeitet)\nconst latestVersion = $input.item.json.latestVersion || currentVersion;\n\n// 4. Version-Vergleich (Semantic Versioning)\nfunction compareVersions(v1, v2) {\n  const parts1 = v1.split('.').map(Number);\n  const parts2 = v2.split('.').map(Number);\n  \n  for (let i = 0; i < Math.max(parts1.length, parts2.length); i++) {\n    const part1 = parts1[i] || 0;\n    const part2 = parts2[i] || 0;\n    \n    if (part1 < part2) return -1;\n    if (part1 > part2) return 1;\n  }\n  \n  return 0;\n}\n\n// 5. Prüfe ob Update verfügbar ist\n// WICHTIG: available = true nur wenn latestVersion > currentVersion\n// Wenn latestVersion === currentVersion → available = false\n// Wenn latestVersion < currentVersion → available = false (bereits neueste Version)\nconst versionComparison = compareVersions(currentVersion, latestVersion);\nconst updateAvailable = latestVersion && latestVersion !== currentVersion && versionComparison < 0;\n\n// 6. Generiere Update-Informationen\n// WICHTIG: downloadUrl und changelog werden bereits aus GitHub Response extrahiert\n// WICHTIG: Gibt immer alle Felder zurück (auch wenn available=false), damit Shopware Admin UI korrekt angezeigt wird\nreturn {\n  json: {\n    ...$input.item.json,\n    available: updateAvailable,\n    currentVersion: currentVersion,\n    latestVersion: latestVersion,\n    // downloadUrl und changelog bereits vorhanden (aus GitHub Response)\n    downloadUrl: $input.item.json.downloadUrl || null,\n    changelog: $input.item.json.changelog || null\n  }\n};"
            },
            "id": "0f687aab-64e5-419c-a9b4-bfb4b738f060",
            "name": "Code (Compare Versions)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                928,
                416
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "81546257-bbcf-4ec4-9709-72d2c92286ae",
                            "leftValue": "={{ $json.available }}",
                            "rightValue": "true",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "eb83981f-f60a-43c7-b101-0220180a3803",
            "name": "IF Update Available?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1168,
                416
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { available: true, currentVersion: $json.currentVersion, latestVersion: $json.latestVersion, downloadUrl: $json.downloadUrl || null, changelog: $json.changelog || null } }}",
                "options": {}
            },
            "id": "3b1a9b0a-6638-448f-a6c6-49cd34fe2219",
            "name": "Respond (Update Available)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1376,
                320
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { available: false, currentVersion: $json.currentVersion, latestVersion: $json.latestVersion || $json.currentVersion, downloadUrl: null, changelog: null } }}",
                "options": {}
            },
            "id": "8124a39c-4966-4b9a-8ea2-647d8d1bed37",
            "name": "Respond (No Update)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1376,
                496
            ]
        },
        {
            "parameters": {
                "content": "## License Check ",
                "height": 400,
                "width": 1056
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                464,
                800
            ],
            "id": "6653ee61-8e3a-4fe4-aa97-5564009a4dda",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "## Update Check ",
                "height": 416,
                "width": 1056
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                464,
                288
            ],
            "id": "efd36921-bf2c-4ba3-b7cd-9eed3118bdc4",
            "name": "Sticky Note1"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Code (Determine Check Type)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code (Determine Check Type)": {
            "main": [
                [
                    {
                        "node": "IF Check Type = License?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Check Type = License?": {
            "main": [
                [
                    {
                        "node": "Set (Compute License)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "GitHub (Get Latest Release)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set (Compute License)": {
            "main": [
                [
                    {
                        "node": "IF License Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF License Valid?": {
            "main": [
                [
                    {
                        "node": "Respond (License Valid)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond (License Invalid)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub (Get Latest Release)": {
            "main": [
                [
                    {
                        "node": "Code (Process GitHub Response)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code (Process GitHub Response)": {
            "main": [
                [
                    {
                        "node": "Code (Compare Versions)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code (Compare Versions)": {
            "main": [
                [
                    {
                        "node": "IF Update Available?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Update Available?": {
            "main": [
                [
                    {
                        "node": "Respond (Update Available)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond (No Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook": [
            {
                "headers": {
                    "host": "n8n.chooomedia.com",
                    "user-agent": "Shopware-HeroSlider-Plugin/1.0.0",
                    "accept": "application/json",
                    "accept-encoding": "gzip",
                    "x-forwarded-for": "157.143.70.83",
                    "x-forwarded-host": "n8n.chooomedia.com",
                    "x-forwarded-proto": "https"
                },
                "params": {},
                "query": {
                    "checkType": "license",
                    "plugin": "hero-blocks",
                    "timestamp": "2025-11-15T09:31:19+00:00",
                    "version": "1.0.0",
                    "shopwareVersion": "6.7.0",
                    "checkDate": "2025-11-15T09:31:19+00:00"
                },
                "webhookUrl": "https://n8n.chooomedia.com/webhook/license/hero-blocks",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3dae61a0a24f0b093f057680559772c3c73ec97ec47a9bd2a5ad745c7d8f0365"
    }
}