src/Resources/n8n-workflows/hero-blocks-update-check.json
{
    "name": "Hero Blocks - Update Check",
    "nodes": [
        {
            "parameters": {
                "path": "update/hero-blocks",
                "httpMethod": "GET",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "d613a42a-6956-4abd-9b88-7bf656e389a9",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -928,
                896
            ],
            "webhookId": "hero-blocks-update-check"
        },
        {
            "parameters": {
                "jsCode": "// WICHTIG: Harmoniert mit License-Check Workflow Struktur\n// Berechne Update-Informationen 채hnlich wie License-Check\n// Step-by-step: Version-Vergleich und Update-Info-Berechnung\n\n// 1. Lese aktuelle Version aus Query-Parametern\nconst currentVersion = $input.item.json.query?.currentVersion || '1.0.0';\n\n// 2. Setze neueste verf체gbare Version (HIER ANPASSEN!)\nconst latestVersion = '1.0.0'; // TODO: Hier neueste Version eintragen (z.B. '1.1.0')\n\n// 3. Version-Vergleich (Semantic Versioning)\nfunction compareVersions(v1, v2) {\n  const parts1 = v1.split('.').map(Number);\n  const parts2 = v2.split('.').map(Number);\n  \n  for (let i = 0; i < Math.max(parts1.length, parts2.length); i++) {\n    const part1 = parts1[i] || 0;\n    const part2 = parts2[i] || 0;\n    \n    if (part1 < part2) return -1;\n    if (part1 > part2) return 1;\n  }\n  \n  return 0;\n}\n\n// 4. Pr체fe ob Update verf체gbar ist\nconst updateAvailable = compareVersions(currentVersion, latestVersion) < 0;\n\n// 5. Generiere Update-Informationen\nreturn {\n  json: {\n    ...$input.item.json,\n    available: updateAvailable,\n    currentVersion,\n    latestVersion,\n    downloadUrl: updateAvailable ? 'https://your-server.com/updates/hero-blocks-' + latestVersion + '.zip' : null,\n    changelog: updateAvailable ? 'Initial release' : null // TODO: Hier Changelog eintragen\n  }\n};"
            },
            "id": "15c57c5a-738d-42cf-97ff-d04a79ad5c56",
            "name": "Code (Compute Update)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -720,
                896
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.available }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "24c417a6-e926-4436-8d68-1f3e0b14dba3",
            "name": "IF Update Available?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -528,
                896
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { available: true, currentVersion: $json.currentVersion, latestVersion: $json.latestVersion, downloadUrl: $json.downloadUrl, changelog: $json.changelog } }}",
                "options": {}
            },
            "id": "1dcbf0bc-3d09-4454-a54d-8bf53d38c3c3",
            "name": "Respond (Update Available)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -320,
                816
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { available: false, currentVersion: $json.currentVersion, latestVersion: $json.latestVersion } }}",
                "options": {}
            },
            "id": "b3464622-d48f-4050-a2b6-ef3bf17bbba7",
            "name": "Respond (No Update)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -320,
                976
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Code (Compute Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code (Compute Update)": {
            "main": [
                [
                    {
                        "node": "IF Update Available?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Update Available?": {
            "main": [
                [
                    {
                        "node": "Respond (Update Available)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond (No Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook": [
            {
                "headers": {
                    "host": "n8n.chooomedia.com",
                    "user-agent": "Shopware-HeroBlocks-Plugin/1.0.0",
                    "accept": "application/json",
                    "accept-encoding": "gzip",
                    "x-forwarded-for": "157.143.70.83",
                    "x-forwarded-host": "n8n.chooomedia.com",
                    "x-forwarded-proto": "https"
                },
                "params": {},
                "query": {
                    "plugin": "hero-blocks",
                    "currentVersion": "1.0.0",
                    "shopwareVersion": "6.7.0",
                    "timestamp": "2025-11-15T07:30:00+00:00"
                },
                "webhookUrl": "https://n8n.chooomedia.com/webhook/update/hero-blocks",
                "executionMode": "production"
            }
        ]
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2025-11-15T07:30:00.000Z",
    "versionId": "1"
}