src/Resources/n8n-workflows/hero-blocks-unified.json
{
    "nodes": [
        {
            "parameters": {
                "jsCode": "// WICHTIG: Formatiere Slack-Nachricht für Update-Check\n// Best Practices: Strukturierte, informative Fehlermeldungen mit Links\n\nconst checkType = $input.item.json.checkType || 'update';\nconst currentVersion = $input.item.json.currentVersion || $input.item.json.query?.currentVersion || '1.0.0';\nconst hasError = $input.item.json.hasError === true;\nconst githubError = $input.item.json.githubError || null;\nconst available = $input.item.json.available || false;\nconst latestVersion = $input.item.json.latestVersion || currentVersion;\nconst downloadUrl = $input.item.json.downloadUrl || null;\n\n// Bestimme Nachrichtentyp\nlet message = '';\n\nif (hasError) {\n    // Fehler: GitHub API Fehler oder kein Release gefunden\n    message = `⚠️ *Hero Blocks Update Check - Fehler*\n\n*GitHub API Fehler:*\n• Fehler: ${githubError || 'Unbekannter Fehler'}\n• Repository: <https://github.com/chooomedia/hero-blocks|chooomedia/hero-blocks>\n• Aktuelle Version: ${currentVersion}\n• Status: Kein Release gefunden\n\n*Mögliche Ursachen:*\n• Repository existiert nicht\n• Keine Releases vorhanden\n• GitHub API Rate Limit erreicht\n\n*Lösung:*\n• Prüfe Repository: <https://github.com/chooomedia/hero-blocks/releases|GitHub Releases>\n• Erstelle erstes Release falls nötig\n• Prüfe n8n Workflow Logs`;\n} else if (available) {\n    // Update verfügbar\n    message = `✅ *Hero Blocks Update verfügbar*\n\n*Neue Version verfügbar:*\n• Aktuelle Version: ${currentVersion}\n• Neue Version: ${latestVersion}\n• Download: ${downloadUrl ? `<${downloadUrl}|Download ZIP>` : 'Nicht verfügbar'}\n• Repository: <https://github.com/chooomedia/hero-blocks/releases/tag/v${latestVersion}|Release v${latestVersion}>`;\n} else {\n    // Kein Update verfügbar\n    message = `ℹ️ *Hero Blocks - Kein Update verfügbar*\n\n*Plugin ist aktuell:*\n• Version: ${currentVersion}\n• Neueste Version: ${latestVersion}\n• Status: Kein Update erforderlich`;\n}\n\nreturn {\n    json: {\n        ...$input.item.json,\n        slackMessage: message\n    }\n};"
            },
            "id": "584bd7d3-5d1f-464a-b4b2-218542d1db16",
            "name": "Code (Format Slack Message - Update)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                816,
                -304
            ]
        },
        {
            "parameters": {
                "jsCode": "// WICHTIG: Formatiere Slack-Nachricht für License-Check\n// Best Practices: Strukturierte, informative Nachrichten mit Links\n\nconst checkType = $input.item.json.checkType || 'license';\nconst valid = $input.item.json.valid === true;\nconst expiresAt = $input.item.json.expiresAt || null;\nconst daysRemaining = $input.item.json.daysRemaining || 0;\nconst plugin = $input.item.json.plugin || 'hero-blocks';\nconst currentVersion = $input.item.json.currentVersion || $input.item.json.query?.currentVersion || '1.0.0';\n\n// Bestimme Nachrichtentyp\nlet message = '';\n\nif (valid) {\n    // License gültig\n    const expiryDate = expiresAt ? new Date(expiresAt).toLocaleDateString('de-DE') : 'Unbekannt';\n    message = `✅ *Hero Blocks License Check - Gültig*\n\n*Lizenz-Status:*\n• Plugin: ${plugin}\n• Version: ${currentVersion}\n• Status: Gültig\n• Ablaufdatum: ${expiryDate}\n• Tage verbleibend: ${daysRemaining}\n\n*Repository:*\n• <https://github.com/chooomedia/hero-blocks|chooomedia/hero-blocks>`;\n} else {\n    // License ungültig\n    const expiryDate = expiresAt ? new Date(expiresAt).toLocaleDateString('de-DE') : 'Unbekannt';\n    message = `⚠️ *Hero Blocks License Check - Abgelaufen*\n\n*Lizenz-Status:*\n• Plugin: ${plugin}\n• Version: ${currentVersion}\n• Status: Abgelaufen\n• Ablaufdatum: ${expiryDate}\n• Tage verbleibend: ${daysRemaining}\n\n*Aktion erforderlich:*\n• Lizenz erneuern\n• Kontakt: <https://www.matt-interfaces.ch|Matt Interfaces>\n\n*Repository:*\n• <https://github.com/chooomedia/hero-blocks|chooomedia/hero-blocks>`;\n}\n\nreturn {\n    json: {\n        ...$input.item.json,\n        slackMessage: message\n    }\n};"
            },
            "id": "5022b815-820d-481b-a0e5-ed1cae0607ec",
            "name": "Code (Format Slack Message - License)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                976,
                272
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "C04347838EP",
                    "mode": "list",
                    "cachedResultName": "horex"
                },
                "text": "={{ $json.slackMessage || 'Keine Nachricht verfügbar' }}",
                "otherOptions": {}
            },
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.3,
            "position": [
                1536,
                -16
            ],
            "id": "e5c5929b-5494-48ea-be3c-3be332a32f76",
            "name": "Send Slack Message (Update)",
            "webhookId": "40f85c4f-6f84-4aeb-89aa-181e6937b9a8",
            "credentials": {
                "slackOAuth2Api": {
                    "id": "BSSygESdYnPg0W2W",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "path": "license/hero-blocks",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "43f6732c-d10f-494a-b2e1-e988db25bf8a",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -416,
                16
            ],
            "webhookId": "hero-blocks-unified"
        },
        {
            "parameters": {
                "jsCode": "// WICHTIG: Route-Bestimmung basierend auf Query-Parameter (n8n Best Practice!)\n// Best Practices: Robust, sauber, eindeutige Logik gemäß n8n Dokumentation\n// n8n Webhook Path: hero-blocks (relativ zum Webhook-Base /webhook/)\n// Vollständiger Path: /webhook/hero-blocks?checkType=license oder /webhook/hero-blocks?checkType=update\n// Gemäß n8n Docs: Query-Parameter werden in query zurückgegeben\n\nlet checkType = null;\n\n// Step 1: Versuche Query-Parameter checkType (PRIMÄR - n8n Best Practice!)\n// n8n gibt Query-Parameter in $input.item.json.query zurück\nconst queryParams = $input.item.json.query || {};\nif (queryParams.checkType) {\n  checkType = String(queryParams.checkType).toLowerCase().trim();\n}\n\n// Step 2: Extrahiere aus webhookUrl (Fallback - falls Query-Parameter nicht verfügbar)\n// URL-Format: https://n8n.chooomedia.com/webhook/license/hero-blocks\n// oder: https://n8n.chooomedia.com/webhook/update/hero-blocks\n// ODER: https://n8n.chooomedia.com/webhook/hero-blocks?checkType=license\nif (!checkType && $input.item.json.webhookUrl) {\n  const url = String($input.item.json.webhookUrl);\n  // Matche: /webhook/license/hero-blocks oder /webhook/update/hero-blocks (altes Format)\n  const urlMatch = url.match(/\\/webhook\\/(license|update)\\/hero-blocks/i);\n  if (urlMatch && urlMatch[1]) {\n    checkType = urlMatch[1].toLowerCase().trim(); // license oder update\n  } else {\n    // Versuche Query-Parameter aus URL\n    const urlObj = new URL(url);\n    const checkTypeParam = urlObj.searchParams.get('checkType');\n    if (checkTypeParam) {\n      checkType = checkTypeParam.toLowerCase().trim();\n    }\n  }\n}\n\n// Step 3: Fallback: Versuche aus Request-URL zu extrahieren\nif (!checkType && $input.item.json.url) {\n  const url = String($input.item.json.url);\n  // Matche: /webhook/license/hero-blocks oder /webhook/update/hero-blocks\n  const urlMatch = url.match(/\\/(license|update)\\//i);\n  if (urlMatch && urlMatch[1]) {\n    checkType = urlMatch[1].toLowerCase().trim();\n  } else {\n    // Versuche Query-Parameter aus URL\n    try {\n      const urlObj = new URL(url);\n      const checkTypeParam = urlObj.searchParams.get('checkType');\n      if (checkTypeParam) {\n        checkType = checkTypeParam.toLowerCase().trim();\n      }\n    } catch (e) {\n      // URL parsing fehlgeschlagen - ignoriere\n    }\n  }\n}\n\n// Step 4: Default: license (für Backwards Compatibility)\nif (!checkType || (checkType !== 'license' && checkType !== 'update')) {\n  checkType = 'license';\n}\n\n// Return mit checkType und allen Query-Parametern\nreturn {\n  json: {\n    ...$input.item.json,\n    checkType: checkType,\n    // Query-Parameter explizit weitergeben (Best Practice)\n    plugin: queryParams.plugin || $input.item.json.plugin || 'hero-blocks',\n    version: queryParams.version || $input.item.json.version || '1.0.0',\n    shopwareVersion: queryParams.shopwareVersion || $input.item.json.shopwareVersion || '6.7.0',\n    timestamp: queryParams.timestamp || queryParams.checkDate || $input.item.json.timestamp || new Date().toISOString(),\n    currentVersion: queryParams.currentVersion || queryParams.version || \"1.0.0\"\n  }\n};"
            },
            "id": "67915308-a457-4e71-a63e-6970c2bd7872",
            "name": "Code (Determine Check Type)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -224,
                16
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "3f048ca4-29b8-4e18-866d-391fd6e15f40",
                            "leftValue": "={{ $json.checkType || $('Code (Determine Check Type)').item.json.checkType }}",
                            "rightValue": "license",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "b8b33757-5c74-4005-aba7-4d72a9d780ea",
            "name": "IF Check Type = License?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -32,
                16
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "expiresAt",
                            "value": "2028-11-30T23:59:59+00:00"
                        }
                    ],
                    "number": [
                        {
                            "name": "daysRemaining",
                            "value": "={{ Math.max(0, Math.ceil((DateTime.fromISO('2027-12-30T00:00:00+00:00').toMillis() - $now.toMillis()) / 86400000)) }}"
                        }
                    ],
                    "boolean": [
                        {
                            "name": "valid",
                            "value": "={{ $now <= DateTime.fromISO('2028-11-30T23:59:59+00:00') }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "cd53cc31-c86b-4153-9075-a79013d675d8",
            "name": "Set (Compute License)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                304,
                272
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "8fbac636-c62c-49f1-8df4-e2eef67844f7",
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "ebfbc000-ff2e-483f-a626-18e57fc71a56",
            "name": "IF License Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                496,
                272
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { valid: true, expiresAt: $json.expiresAt, daysRemaining: $json.daysRemaining } }}",
                "options": {}
            },
            "id": "839561b5-2450-44e6-8904-86bf2d74d107",
            "name": "Respond (License Valid)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                176
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { valid: false, expiresAt: $json.expiresAt, daysRemaining: $json.daysRemaining } }}",
                "options": {}
            },
            "id": "b1bae890-3c61-4626-ba5c-b862cd7996e1",
            "name": "Respond (License Invalid)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                336
            ]
        },
        {
            "parameters": {
                "jsCode": "// WICHTIG: Version-Vergleich für Update-Check\n// Best Practices: Semantic Versioning, robust, sauber mit Error-Handling\n// Harmoniert mit GitHub Releases API Response\n\n// 1. Lese aktuelle Version aus Query-Parametern\nconst currentVersion = $input.item.json.query?.currentVersion || $input.item.json.currentVersion || \"1.0.0\";\n\n// 2. Prüfe auf GitHub API Fehler\n// WICHTIG: hasError Flag wird bereits im Process GitHub Response Node gesetzt\nconst hasError = $input.item.json.hasError === true || $input.item.json.githubError || !$input.item.json.githubTag;\n\nif (hasError) {\n  // GitHub API Fehler oder kein Release gefunden\n  // Gibt Default-Response zurück: available = false, latestVersion = currentVersion\n  return {\n    json: {\n      ...$input.item.json,\n      available: false,\n      currentVersion: currentVersion,\n      latestVersion: currentVersion,\n      downloadUrl: null,\n      changelog: null\n    }\n  };\n}\n\n// 3. Lese neueste Version aus GitHub Response (bereits verarbeitet)\nconst latestVersion = $input.item.json.latestVersion || currentVersion;\n\n// 4. Version-Vergleich (Semantic Versioning)\nfunction compareVersions(v1, v2) {\n  const parts1 = v1.split('.').map(Number);\n  const parts2 = v2.split('.').map(Number);\n  \n  for (let i = 0; i < Math.max(parts1.length, parts2.length); i++) {\n    const part1 = parts1[i] || 0;\n    const part2 = parts2[i] || 0;\n    \n    if (part1 < part2) return -1;\n    if (part1 > part2) return 1;\n  }\n  \n  return 0;\n}\n\n// 5. Prüfe ob Update verfügbar ist\n// WICHTIG: available = true nur wenn latestVersion > currentVersion\n// Wenn latestVersion === currentVersion → available = false\n// Wenn latestVersion < currentVersion → available = false (bereits neueste Version)\nconst versionComparison = compareVersions(currentVersion, latestVersion);\nconst updateAvailable = latestVersion && latestVersion !== currentVersion && versionComparison < 0;\n\n// 6. Generiere Update-Informationen\n// WICHTIG: downloadUrl und changelog werden bereits aus GitHub Response extrahiert\n// WICHTIG: Gibt immer alle Felder zurück (auch wenn available=false), damit Shopware Admin UI korrekt angezeigt wird\nreturn {\n  json: {\n    ...$input.item.json,\n    available: updateAvailable,\n    currentVersion: currentVersion,\n    latestVersion: latestVersion,\n    // downloadUrl und changelog bereits vorhanden (aus GitHub Response)\n    downloadUrl: $input.item.json.downloadUrl || null,\n    changelog: $input.item.json.changelog || null\n  }\n};"
            },
            "id": "398b47b4-ed1a-4526-b604-dbba6eed70fb",
            "name": "Code (Compare Versions)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                656,
                -304
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "81546257-bbcf-4ec4-9709-72d2c92286ae",
                            "leftValue": "={{ $json.available }}",
                            "rightValue": "true",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "cd6a4c28-738d-4fdd-acb2-7c6bbae028fa",
            "name": "IF Update Available?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                976,
                -304
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { available: true, currentVersion: $json.currentVersion, latestVersion: $json.latestVersion, downloadUrl: $json.downloadUrl || null, changelog: $json.changelog || null, releaseId: $json.githubReleaseId || null, releaseUrl: $json.githubReleaseUrl || null } }}",
                "options": {}
            },
            "id": "2aeda71e-2ef6-4dc2-be68-5b3fcde81629",
            "name": "Respond (Update Available)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                -400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { available: false, currentVersion: $json.currentVersion, latestVersion: $json.latestVersion || $json.currentVersion, downloadUrl: null, changelog: null, releaseId: null, releaseUrl: null } }}",
                "options": {}
            },
            "id": "8c15d10a-8c88-42c3-93ab-8ed470b762ed",
            "name": "Respond (No Update)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                -224
            ]
        },
        {
            "parameters": {
                "content": "## License Check ",
                "height": 400,
                "width": 1056
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                256,
                112
            ],
            "id": "4f40f230-9f15-40d7-b7df-736e3e7e48c4",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "## Update Check ",
                "height": 416,
                "width": 1056
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                256,
                -432
            ],
            "id": "cd890ab1-b6a9-48ad-a3de-751d28694782",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "jsCode": "// WICHTIG: Verarbeite GitHub Node Response (n8n GitHub Node gibt Array zurück!)\n// Best Practices: Robust, sauber, eindeutige Logik mit Error-Handling\n// Gemäß n8n GitHub Node Dokumentation: Release > Get Many gibt Array zurück (auch bei Limit: 1)\n\n// 1. Lese GitHub Node Response\n// WICHTIG: GitHub Node gibt Array zurück (auch wenn nur 1 Release)\n// n8n GitHub Node gibt Releases als Array in $input.item.json zurück\nlet releases = $input.item.json;\n\n// Prüfe ob releases ein Array ist (GitHub Node gibt Array zurück)\nif (!Array.isArray(releases)) {\n  // Fallback: Versuche verschiedene Datenstrukturen\n  releases = releases.json || releases.data || (releases.items ? releases.items : [releases]);\n}\n\n// Lese currentVersion aus Query-Parametern (aus Webhook)\nconst currentVersion = $input.item.json.query?.currentVersion || $input.item.json.currentVersion || \"1.0.0\";\n\n// 2. Prüfe auf GitHub API Fehler (keine Releases, etc.)\n// WICHTIG: GitHub Node gibt leeres Array zurück, wenn keine Releases gefunden\nconst hasError = !Array.isArray(releases) || releases.length === 0 || !releases[0] || !releases[0].tag_name;\n\nif (hasError) {\n  // GitHub API Fehler oder kein Release gefunden\n  // Gibt Default-Response zurück: latestVersion = currentVersion, available = false\n  return {\n    json: {\n      ...$input.item.json,\n      latestVersion: currentVersion,\n      downloadUrl: null,\n      changelog: null,\n      currentVersion: currentVersion,\n      githubTag: null,\n      githubPublishedAt: null,\n      githubError: \"No release found\",\n      hasError: true\n    }\n  };\n}\n\n// 3. Extrahiere Latest Release (erstes Element des Arrays - GitHub sortiert nach published_at DESC)\n// WICHTIG: GitHub Node gibt Releases sortiert zurück (neueste zuerst)\nconst githubResponse = releases[0];\n\n// 4. Extrahiere Latest Version aus GitHub Tag\n// GitHub Tag Format: \"v1.1.0\" → \"1.1.0\"\nlet latestVersion = null;\nif (githubResponse.tag_name) {\n  latestVersion = githubResponse.tag_name.replace(/^v/, \"\"); // Remove \"v\" prefix\n}\n\n// 5. Finde .zip Asset für Download URL\n// WICHTIG: Shopware benötigt direkt zugängliche .zip URL (GitHub Releases)\n// Format: https://github.com/owner/repo/releases/download/tag/plugin-name.zip\nlet downloadUrl = null;\nif (githubResponse.assets && Array.isArray(githubResponse.assets)) {\n  // Suche nach .zip Asset (priorisiere hero-blocks-*.zip)\n  const zipAsset = githubResponse.assets.find(asset => {\n    const name = asset.name || \"\";\n    return name.endsWith('.zip') && (name.includes('hero-blocks') || name.includes('HeroBlocks'));\n  }) || githubResponse.assets.find(asset => \n    asset.name && asset.name.endsWith('.zip')\n  );\n  if (zipAsset && zipAsset.browser_download_url) {\n    downloadUrl = zipAsset.browser_download_url;\n  }\n}\n\n// Fallback: Generiere Download URL aus Release Tag (falls kein Asset vorhanden)\nif (!downloadUrl && githubResponse.tag_name && githubResponse.html_url) {\n  // GitHub Releases: /releases/tag/v1.0.0 → /releases/download/v1.0.0/hero-blocks.zip\n  const tagName = githubResponse.tag_name.replace(/^v/, \"\"); // Remove \"v\" prefix\n  downloadUrl = githubResponse.html_url.replace(/\\/tag\\//, \"/download/\") + \"/hero-blocks-\" + tagName + \".zip\";\n}\n\n// 6. Extrahiere Changelog aus Release Body\nconst changelog = githubResponse.body || githubResponse.body_text || null;\n\n// 7. Extrahiere Release-ID (dynamisch für Shopware Update-Check)\n// WICHTIG: Release-ID wird für Shopware Update-Tracking benötigt\n// GitHub API gibt Release-ID als numerischen Wert zurück (z.B. 12345678)\nconst releaseId = githubResponse.id || null;\nconst releaseUrl = githubResponse.html_url || null;\n\n// 8. Speichere GitHub Response Daten für Version-Vergleich\n// WICHTIG: Setze hasError Flag für explizites Error-Tracking\n// WICHTIG: Release-ID wird dynamisch extrahiert (nicht hardcoded)\nreturn {\n  json: {\n    ...$input.item.json,\n    latestVersion: latestVersion || currentVersion,\n    downloadUrl: downloadUrl || null,\n    changelog: changelog || null,\n    currentVersion: currentVersion,\n    githubTag: githubResponse.tag_name || null,\n    githubReleaseId: releaseId, // ✅ Dynamische Release-ID\n    githubReleaseUrl: releaseUrl,\n    githubPublishedAt: githubResponse.published_at || null,\n    hasError: false\n  }\n};"
            },
            "id": "b82550b6-1989-431f-8476-988af2a1c841",
            "name": "Code (Process GitHub Response)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                496,
                -304
            ]
        },
        {
            "parameters": {
                "resource": "release",
                "operation": "getAll",
                "owner": {
                    "__rl": true,
                    "value": "chooomedia",
                    "mode": "list",
                    "cachedResultName": "chooomedia",
                    "cachedResultUrl": "https://github.com/chooomedia"
                },
                "repository": {
                    "__rl": true,
                    "value": "hero-blocks",
                    "mode": "list",
                    "cachedResultName": "hero-blocks",
                    "cachedResultUrl": "https://github.com/chooomedia/hero-blocks"
                }
            },
            "type": "n8n-nodes-base.github",
            "typeVersion": 1.1,
            "position": [
                304,
                -304
            ],
            "id": "54d7c94b-f55f-49e6-a537-7764ccb13dc6",
            "name": "Get many releases",
            "webhookId": "be154b6c-a3ed-4c01-be7d-cd19b63163c2",
            "alwaysOutputData": true,
            "credentials": {
                "githubApi": {
                    "id": "lrNvOKmSqXVhTpHk",
                    "name": "GitHub account"
                }
            }
        }
    ],
    "connections": {
        "Code (Format Slack Message - Update)": {
            "main": [
                [
                    {
                        "node": "IF Update Available?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code (Format Slack Message - License)": {
            "main": [
                [
                    {
                        "node": "IF License Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Code (Determine Check Type)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code (Determine Check Type)": {
            "main": [
                [
                    {
                        "node": "IF Check Type = License?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Check Type = License?": {
            "main": [
                [
                    {
                        "node": "Set (Compute License)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get many releases",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set (Compute License)": {
            "main": [
                [
                    {
                        "node": "Code (Format Slack Message - License)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF License Valid?": {
            "main": [
                [
                    {
                        "node": "Respond (License Valid)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond (License Invalid)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond (License Valid)": {
            "main": [
                [
                    {
                        "node": "Send Slack Message (Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond (License Invalid)": {
            "main": [
                [
                    {
                        "node": "Send Slack Message (Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code (Compare Versions)": {
            "main": [
                [
                    {
                        "node": "Code (Format Slack Message - Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Update Available?": {
            "main": [
                [
                    {
                        "node": "Respond (Update Available)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond (No Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond (Update Available)": {
            "main": [
                [
                    {
                        "node": "Send Slack Message (Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond (No Update)": {
            "main": [
                [
                    {
                        "node": "Send Slack Message (Update)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code (Process GitHub Response)": {
            "main": [
                [
                    {
                        "node": "Code (Compare Versions)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many releases": {
            "main": [
                [
                    {
                        "node": "Code (Process GitHub Response)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Webhook": [
            {
                "headers": {
                    "host": "n8n.chooomedia.com",
                    "user-agent": "Shopware-HeroSlider-Plugin/1.0.0",
                    "accept": "application/json",
                    "accept-encoding": "gzip",
                    "x-forwarded-for": "157.143.70.83",
                    "x-forwarded-host": "n8n.chooomedia.com",
                    "x-forwarded-proto": "https"
                },
                "params": {},
                "query": {
                    "checkType": "license",
                    "plugin": "hero-blocks",
                    "timestamp": "2025-11-15T16:51:21+00:00",
                    "version": "1.0.0",
                    "shopwareVersion": "6.7.0",
                    "checkDate": "2025-11-15T16:51:21+00:00"
                },
                "webhookUrl": "https://n8n.chooomedia.com/webhook/license/hero-blocks",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3dae61a0a24f0b093f057680559772c3c73ec97ec47a9bd2a5ad745c7d8f0365"
    }
}